.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.checkbox {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;

  input {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    transition: all ease-out 0.2s;

    &:active {
      scale: 0.9;
    }
  }

  span {
    white-space: nowrap;
    padding-right: var(--spacing-30);
  }
}

.checkbox--no-label span {
  @extend .sr-only;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.4rem;
  margin-inline: var(--spacing-20);

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #99ace5;
    border-radius: 1rem;
    transition: all ease-out 0.2s;

    &:before {
      position: absolute;
      content: "";
      height: 1rem;
      aspect-ratio: 1;
      left: 0.2rem;
      top: 0.2rem;
      border-radius: 50%;
      background-color: white;
      transition: all ease-out 0.2s;
    }
  }

  input:checked + .slider {
    background-color: var(--color-primary);
  }

  input:active + .slider:before {
    scale: 0.9;
  }

  input:checked + .slider:before {
    transform: translateX(1.1rem);
  }
}

.button-secondary,
.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-20);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  border: none;
  border: 2px solid currentColor;
  padding: var(--spacing-20);
  height: 2.5rem;
  border-radius: 0.4rem;
  font-weight: 600;
  cursor: pointer;
  min-width: 10rem;
  user-select: none;
  transition: all ease-out 0.4s;

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &:active {
    scale: 0.95;
  }
}

.button-primary {
  background: var(--color-primary);
  color: var(--color-light);
  border: 2px solid var(--color-primary);

  &:hover {
    border: 2px solid var(--color-primary-10);
    background: var(--color-primary-10);
  }
}

.button-secondary {
  color: var(--color-primary);
  background: var(--color-light);

  &:hover {
    background: var(--color-light);
    background-color: var(--color-primary-90);
  }
}

.loading {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-30);
  backdrop-filter: blur(1px);
}

.progress-bar {
  width: 30rem;
  height: 0.25rem;
  background-color: var(--surface-20);
  border-radius: 10px;
  overflow: hidden;
  margin-block: var(--spacing-50);

  .progress {
    display: block;
    width: 0%;
    height: 0.25rem;
    background-color: var(--status-success);
    border-radius: 1rem;
    animation: fillProgress 6s linear infinite;
  }
}

@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
